# Pandas tutorial
    
    Pandas is an open source , BSD-licensed library providing high-performance, easy-to-use data Structures and analysis tools for the python programming language.
    
### Agenda

    * What is Data Frames?
    
    which has more than one row and one column
    
    
    * What is Data Series?
      
  series can either be One Row or one column
      
    * Different operations in Pandas


## from IO import StringIO, BytesIO

    helps to String data from User Input to read as CSV, JSON ..etc files

In [29]:
conda install lxml

Collecting package metadata (current_repodata.json): ...working... done
Note: you may need to restart the kernel to use updated packages.

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\neete\anaconda3

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    lxml-4.6.3                 |   py38h9b66d53_0         979 KB
    ------------------------------------------------------------
                                           Total:         979 KB

The following NEW packages will be INSTALLED:

  libxslt            pkgs/main/win-64::libxslt-1.1.34-he774522_0
  lxml               pkgs/main/win-64::lxml-4.6.3-py38h9b66d53_0

The following packages will be UPDATED:

  ca-certificates                      2021.4.13-haa95532_1 --> 2021.7.5-haa95532_1
  certifi                          2020.12.5-py38haa95532_0 --> 2021.5.30-py38haa95532_0
  conda                               4.10.1-py38haa95532_1 --> 4.10.3-py38haa95532_0



Downloading and Extracting Packages

lxml-4.6.3           | 979 KB    |            |   0%
lxml-4.6.3           | 979 KB    | 1          |   2%
lxml-4.6.3           | 979 KB    | 6          |   7%
lxml-4.6.3           | 979 KB    | #7         |  18%
lxml-4.6.3           | 979 KB    | ###9       |  39%
lxml-4.6.3           | 979 KB    | #######1   |  72%
lxml-4.6.3           | 979 KB    | ########## | 100%
lxml-4.6.3           | 979 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [43]:
# Import pandas
import pandas as pd
import numpy as np
import lxml

In [6]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns=['Column1','Column2', 'Column3','Column4'])

df.head() #head function defines how much rows you wanna show by default it argument is 5. ex:-  df.head(3)

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [11]:
df.to_csv('test1.csv')    # to convert dataFrames to comma Saperated value(CSV) file





## Accessing the elements

#### 1.  .loc, .iloc

In [15]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [16]:
type(df.loc['Row1']) # returns pandas.core.series.Series

pandas.core.series.Series

In [22]:
# iloc[Rows, Columns] using slice


df.iloc[1:4, 2:5]

#type( df.iloc[1:4, 2:5 ])          pandas.core.frame.DataFrame

      Column3  Column4
Row2        6        7
Row3       10       11
Row4       14       15

In [24]:
x = df.iloc[1:4, 0]
type(x) # return pandas.core.series.Series    because we have 0 column

pandas.core.series.Series



# Convert dataFrame into Array

## .values

## .value_counts()

## .isnull().sum()  

retuen how many null values in every column

## .unique()
    return how many quique values are in Column

In [48]:
df[['Column1']]

      Column1
Row1        0
Row2        4
Row3        8
Row4       12
Row5       16

In [42]:
df.values
df.iloc[1:, 2:].values
df.value_counts()

Column1  Column2  Column3  Column4
0        1        2        3          1
4        5        6        7          1
8        9        10       11         1
12       13       14       15         1
16       17       18       19         1
dtype: int64

In [34]:
df.isnull()

df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [37]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])






#  Pandas Read Operation

### df.read_csv('filename)


### df.info() 
    return information of df
    
    
    
### df.describe()
    describes df data
    
    
    
### df[column _name].value_counts()
   Get unique catogries count

In [18]:
df = pd.read_csv('test.csv')

In [26]:
# read ; seprated values

df2 = pd.read_csv('test1.csv', sep=';')
df2

  Unnamed: 0 Column1  Column2  Column3  Column4
0       Row1     0,1        2        3      NaN
1       Row2       4        5        6      7.0
2       Row3       8        9       10     11.0
3       Row4      12       13       14     15.0
4       Row5      16       17       18     19.0

In [20]:
df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB

In [22]:
df.describe()

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,0.010216,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,0.100570,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
# access df elements
# access Column
df['X0']

0       az
1        t
2       az
3       az
4        w
        ..
4204    aj
4205     t
4206     y
4207    ak
4208     t
Name: X0, Length: 4209, dtype: object

In [36]:
# Get unique catogries count

df['X1'].value_counts()

aa    826
s     602
l     599
b     596
v     436
r     252
i     189
a     153
c     142
o      81
w      50
u      40
z      31
e      29
h      27
m      27
j      22
y      21
t      18
n      16
f      12
k      12
p      10
g       9
ab      5
q       3
d       1
Name: X1, dtype: int64

In [37]:
#Access dataFramse data using Conditions

df[df['ID']<=20]

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
5,8,y,aa,ai,e,d,x,g,s,0,...,1,0,0,0,0,0,0,0,0,0
6,10,x,b,ae,d,d,x,d,y,0,...,0,0,0,0,0,1,0,0,0,0
7,11,f,s,ae,c,d,h,d,a,0,...,0,0,1,0,0,0,0,0,0,0
8,12,ap,l,s,c,d,h,j,n,0,...,0,0,0,0,0,0,0,0,0,0
9,14,o,v,as,f,d,g,f,v,0,...,0,0,0,0,0,0,0,0,0,0
10,15,ap,l,s,c,d,g,d,n,0,...,0,0,0,0,0,0,0,0,0,0
11,16,ay,b,b,a,d,g,l,r,0,...,0,0,1,0,0,0,0,0,0,0
12,17,al,r,e,f,d,g,h,o,0,...,0,0,0,0,0,0,0,0,0,0
13,19,o,v,ae,g,d,g,g,j,0,...,1,0,0,0,0,0,0,0,0,0
14,20,h,a,ak,f,d,g,l,t,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
# import STringIO and BytesIO from io module.

from io import StringIO, BytesIO

In [41]:
data = ('col1, col2, col3\n'
           'x,y,1\n'
            'a,b,2\n'
             'c,d,3\n')

#pd.read_csv(StringIO(data))

  col1  col2   col3
0    x     y      1
1    a     b      2
2    c     d      3

In [45]:
#type of StringIO and Internal working:- StringIO creates Internal memory and Save in it to Paranthesis data as a text. 
type(data)
StringIO()

In [53]:
## Read from specific columns
df = pd.read_csv('test.csv', usecols= lambda x: x.upper() in ['X0', 'X1'], dtype=object)
df

      X0  X1
0     az   v
1      t   b
2     az   v
3     az   l
4      w   s
...   ..  ..
4204  aj   h
4205   t  aa
4206   y   v
4207  ak   v
4208   t  aa

[4209 rows x 2 columns]

In [54]:
df['X1'][4]

's'

In [69]:
# df = pd.read_csv('test1.csv', sep=';', dtype={'Column1':'int64', 'Column2': float})
df

  Unnamed: 0 Column1  Column2  Column3  Column4
0       Row1     0,1        2        3      NaN
1       Row2       4        5        6      7.0
2       Row3       8        9       10     11.0
3       Row4      12       13       14     15.0
4       Row5      16       17       18     19.0

In [55]:
# check all the data types

df.dtypes

X0    object
X1    object
dtype: object

In [76]:
# df = pd.read_csv('test1.csv', sep=";", index_col=0)
df = pd.read_csv('test1.csv', sep=";", index_col=False)
df

  Unnamed: 0 Column1  Column2  Column3  Column4
0       Row1     0,1        2        3      NaN
1       Row2       4        5        6      7.0
2       Row3       8        9       10     11.0
3       Row4      12       13       14     15.0
4       Row5      16       17       18     19.0

In [79]:
## Quoting and Escape Characters. Very useFul in NPL

data = 'a,b\n"hello, \\"BOB\\", Nice to see You ",5'
pd.read_csv(StringIO(data), escapechar='\\')

                                a  b
0  hello, "BOB", Nice to see You   5

In [82]:
## URL to CSV

url = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item', sep='\t')
url

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358
...,...,...,...,...,...
394,SS68023,Tax return preparation and other accounting fees,4,T,352
395,SSEA011,College textbooks,3,T,314
396,SSFV031A,Food at elementary and secondary schools,3,T,122
397,SSGE013,Infants' equipment,3,T,355
398,SSHJ031,Infants' furniture,3,T,165





# Reading JSON to CSV

### pandas.read_json()
### dataFrame.to_csv('Create_file_name.csv') 
    convert data to csv
### dataFrame.to_json('Set_file_name.json')

# Reading HTML file

### pandas.read_html(url, match,...)

# Reading EXcel file

### pandas.read_excel('example.xlsx')

# Pickling
all pandas objects are equipped with to_picklie methods that uses python's cpickle module to save data structure to disk using the pickle formate.

### dataFrame.to_pickel('df_excel')

### df = read_pickel('df_excel')

In [6]:
jsondata = '{"Name":"Neetesh", "Age":"18", "Parents":[{"father":"Omprakash Sharma", "Mother":"Madhu Bala Sharma"}]}'

df= pd.read_json(jsondata)

In [9]:
df.to_csv('JsonDataInCsv.csv')

pd.read_csv('JsonDataInCsv.csv')

   Unnamed: 0     Name  Age                                            Parents
0           0  Neetesh   18  {'father': 'Omprakash Sharma', 'Mother': 'Madh...

In [17]:
df.to_json(orient = "index")

'{"0":{"Name":"Neetesh","Age":18,"Parents":{"father":"Omprakash Sharma","Mother":"Madhu Bala Sharma"}}}'

In [45]:
# Read HTML

url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

df = pd.read_html(url)
df

ImportError: lxml not found, please install it

In [53]:
df = pd.read_excel('G:\LECTURE\Web development\Java\FINAL450.xlsx')

df

,Unnamed: 0,Questions by Love Babbar:,Unnamed: 2
0,NaN,Youtube Channel: https://www.youtube.com/chann...,NaN
1,NaN,NaN,NaN
2,Topic:,Problem:,Done [yes or no]
3,NaN,NaN,<->
4,Array,Reverse the array,<->
...,...,...,...
475,Bit Manipulation,Find position of the only set bit,<->
476,Bit Manipulation,Copy set bits in a range,<->
477,Bit Manipulation,Divide two integers without using multiplicati...,<->
478,Bit Manipulation,"Calculate square of a number without using *, ...",<->
479,Bit Manipulation,Power Set,<->

In [54]:
df.to_pickle('pickel450')
 
df = read.